.thongsokythuat{
    width: 550px !important;
    margin-left: 10px;
}
.thongsokythuat img{
 width: 20px;
 margin-left: 50px ;
}
.thongsokythuat .thongso{
    margin-left: 10px ;
}
.thongtinkhac img{
    width: 35px !important;
    margin-left: 50px;
   
}
.uudai{
    width: 90%;
    margin-top: 30px;
    left: 5%;
}
.uudai img{
    width: 20px;
    
   }
