.spnb .sp {
    width: 100%;
    height: 400px;
    /* background-color: darkgray; */
}

.spnb .sp {
    border: 0.5px solid #e5e5e5;
    margin-right: 5px;
}

.sp img {
    width: 170px;
    height: 180px;
    margin-top: 10px;
    margin-left: 20px;
}

.sp1 {
    margin-left: 30px;
}

.spnb .sp1 button {
    border: none;
}

.sp1 h2 {
    font-size: 20px;
    color: red;
    margin-top: 20px;
}